body {
  padding: 2%;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-image: url(../images/background.jpg);
  background-size: cover;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

header {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
  padding: 60px;
}

.description {
  white-space: pre-wrap;
}

/* TIMEBLOCKS */

.time-blocks {
  display: flex;
  flex-direction: column;
  /* align-items: stretch; */
  border-radius: 15px;
  background-color: transparent;
}

.timeBlock {
  display: flex;
  justify-content: space-between;
  height: 40px;
  border-width: thin;
  background-color: transparent;
}

.textBlock {
  border-width: thin;
  border-color: gray;
}

.hour {
  margin: 0px;
  padding-top: 1%;
  width: 8%;
  text-align: right;
}

.textBlock {
  /* border: solid black 2px; */
  display: inline-block;
  width: 100%;
  border-color: lightgray;
  border-radius: 5px;
}

.past {
  background-color: rgba(211, 211, 211, 0.5);;
  color: rgb(64, 64, 64);
}

.present {
  background-color: #edcb46b7;
  color: rgb(64, 64, 64);
}

.future {
  background-color: #b0dbcebd;
  color: rgb(64, 64, 64);
}

.saveBtn {
  display: inline-block;
  width: fit-content;
  padding: 1%;
  margin: 0.1%;
  border-radius: 10px;
  border-width: thin;
  border-color: transparent;
  color: #073b4c;
  background-color: #BEDAE3;
  
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

/* clear button */
.clearBtn {
  margin-top: 2%;
  margin-left: 7%;
  margin-bottom: 3%;
  padding: 1%;
  border-radius: 10px;
  border-color: transparent;
  background-color: #f6a3aefc;
  font-weight: bold;
}